<h1>Write Your Snappy Login Form Here, you Weirdo</h1>
<p>Yes, underneath here</p>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <input name=name>
  <input type=submit value='login'>
<% end %>